@model WebApplication4.Models.TableViewModel.DetailVisitorViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitors</h4>
    <hr />
    @{
        int dec;
        int inc;


        if (Model.idList.First() == Model.ID)
        {
            dec = Model.idList.Last();
        }
        else { dec = Model.idList[Model.idList.IndexOf(Model.ID) - 1]; }


        if (Model.idList.Last() == Model.ID)
        {
            inc = Model.idList.First();
        }
        else { inc = Model.idList[Model.idList.IndexOf(Model.ID) + 1]; }

    }
    <a asp-action="Details" asp-route-id="@inc">up</a>
    <a asp-action="Details" asp-route-id="@dec">down</a>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
